@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oswald&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    color:white;
}

button, input[type="button"]{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto 1em;
    z-index:9999;
}

#exportMap{
    position: fixed;
}


.floatRight{
    float:right;
}

.floatLeft{
    float:left;
}

.previewBox{
    max-height:300px;
    width: 25%;
    min-width:200px;
    height: 25%;
    margin: auto 1em;
}

#closebtn{
    font-size:60px;
    float:right;
}

#closebtn2{
    font-size:60px;
    float:right;
}

#closebtn3{
    font-size:60px;
    float:right;
}

#closebtn4{
    font-size:60px;
    float:right;
}

